.App {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  transition: .3s;
  background-color: rgb(20, 26, 29);
}

.header {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: rgb(31, 33, 33);
  background: linear-gradient(180deg, rgb(31, 33, 33) 0%, rgb(41, 43, 43)100%);
  box-shadow: 0 .01rem .1rem rgb(11, 13, 13);
}

.nav {
  flex-grow: 1;
  margin-right: 10vw;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.link {
  margin-left: 5vw;
  color: white;
  font-size: large;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

/* ---------------- Nav Menu ------------------ */
.nav-menu {
  position: fixed;
  top: 0;
  right: -50%;
  left: 100%;
  bottom: 0;
  background-color: rgb(21, 21, 21);
  background: linear-gradient(270deg, rgb(20, 26, 29) 0%, rgb(40, 44, 46)100%);
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: .3s
}

.nav-active {
  right: 0;
  left: 50%;
  transition: .3s
}

.nav-menu-links {
  margin: 4em 1em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.nav-menu-link {
  margin-top: 2vh;
  color: white;
  font-size: large;
  text-decoration: none;
}

/* ---------------- Portfolio ------------------ */
.portfolio-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 5em;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content
}

.portfolio-card {
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(74, 74, 74);
  /* box-shadow: 0 0 5px 1px gray; */
  padding: 2vmin 2vmin 0 2vmin;
  margin: 3.5vmin 2vmin 0.5vmin 2vmin;
  /* background-color: white; */
  transition: .3s;
  width: 28%
}

.portfolio-title {
  margin: 0;
  padding: 1vmin 0;
  font-size: large;
  font-weight: bold;
  color: rgb(206, 206, 206);
  transition: .3s;
}

.portfolio-card:hover {
  /* margin: 3vmin 1.75vmin 0 1.75vmin;
  box-shadow: 0 0 1vmin 5px white; */
  border: 1px solid gray;
  background-color: rgb(32, 39, 42);

  transition: .3s;
}

.portfolio-image {
  border: 1px solid rgb(74, 74, 74);
  border-radius: 5px;
  width: 100%;
  display: flex;
}

.portfolio-card:hover .portfolio-image {
  /* width: 40.5vmin;
  height: 40.5vmin; */
  transition: .3s;
  border: 1px solid gray;
}

.portfolio-card:hover .portfolio-title {
  color: rgb(255, 255, 255);
  transition: .3s;
}

.gray {
  margin: 0;
  padding-bottom: 1vmin;
  color: rgba(128, 128, 128, 0);
  transition: .3s;
}

.portfolio-card:hover .gray {
  color: rgba(128, 128, 128, 100);
  transition: 1.5s;
}

@media only screen and (max-width: 768px) {
  .portfolio-card {
    width: 45%
  }
  .portfolio-title {
    font-size: medium;
  }
}

/* ---------------- single-view-page ------------------ */
.single-view-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0 2.5em 5em 2.5em;
  height: 100%;
}

.single-title {
  display:flex;
  align-self: center;
}

.a-ctn {
  width: 90%;
  border-bottom: 1px solid white;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.single-link {
  margin: 1em;
  color: white;
}

.carousel {
  border: 1px solid white;
  background-color: black;
  padding: 0;
  margin: 1em;
  position: relative;
  width: 100vmin;
  height: 50vmin;
  overflow: hidden;
  /* margin: 5em 0; */
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.carousel-btn {
  position: absolute;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  background-color: rgb(0, 0, 0, .5);
  border: none;
  width: 10vmin;
  height: 10vmin;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-btn:hover, .carousel-btn:active {
  border: 1px solid white;
  outline: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slide {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  opacity: 0;
  transition: 1s;
  /* width: 100%; */
}

.count {
  margin: 0;
  padding: 2vmin;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.white {
  /* position: absolute; */
  padding: 1vmin;
  margin: 0;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  /* transition: 1s; */
  /* z-index: 2; */
  /* border: 1px solid lightblue; */
}

.active {
  opacity: 100;
  transition: 1s;
}

.highlight {
  opacity: 100;
}

.carousel-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dot {
  /* position: relative; */
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: .75vmin;
  margin: 1vmin;
  background-color: rgb(0, 0, 0, .5);
  border-radius: 50%;
  border: 1px solid white;
  z-index: 1;
  cursor: pointer;
}

.description {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .carousel {
    margin-top: 0;
    border: none;
  }
  .slide {
    transition: 0s;
  }
  .active {
    transition: 0s;
  }
  .count {
    opacity: 0%;
  }
}

/* ---------------- Contact-page ------------------ */

.error {
  padding: 1em;
  border-radius: 2px;
  background-color: white;
  font-weight: bold;
  color: red;
  box-shadow: 0 0 1vmin white;
  /* box-shadow: inset 0 0 1vmin white; */
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 70%;
  padding: 1em;
  border: 1px solid white;
}

.label {
  margin: 1em;
}

.input {
  padding: 1em;
  margin: 1em;
  width: 25%
}

.message-input {
  padding: 1em;
  margin: 1em;
  height: 10em;
  width: 90%;
}

.submit {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

/* ------------------- Loading ------------------- */

.loading-screen {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.loading-container {
  height: 50vmin;
  width: 80vmin;
  border-radius: 5vmin;
  box-shadow: 0 0 5vmin black;
  background: rgb(228, 233, 234, .8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vmin;
  margin: 0;
  overflow: hidden;
}

.loading-animation {
  padding: 5vmin 0 0 0;
  margin: 0;
  justify-self: center;
  align-self: center;
  height: 45vmin;
}

.loading-message {
  position: absolute;
  font-size: larger;
  width: 70vmin;
  margin: 0;
  color: rgb(42, 53, 52);
  padding-bottom: 2vmin;
  border-bottom: 1px solid black;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .loading-message {
    font-size: large;
  }
}

/* ------------------- Footer ------------------- */
.footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: rgb(31, 33, 33);
  background: linear-gradient(180deg, rgb(41, 43, 43) 0%, rgb(31, 33, 33)100%);
  box-shadow: 0 .01rem .1rem rgb(11, 13, 13);
  transition: .3s;
}

.moved {
  right: 50%;
  left: -50%;
  transition: .3s
}

.footer-ctn {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 3rem;
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}