.App {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: rgb(31, 33, 33);
  background: linear-gradient(180deg, rgb(31, 33, 33) 0%, rgb(41, 43, 43)100%);
  box-shadow: 0 .01rem .1rem rgb(11, 13, 13);
}

.nav {
  flex-grow: 1;
  margin-right: 10vw;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.link {
  margin-left: 5vw;
  color: white;
  font-size: large;
  text-decoration: none;
}

/* ---------------- Portfolio ------------------ */
.portfolio-page {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-card {
  border-radius: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid gray;
  padding: 2vmin;
  margin: 4vmin;
  background-color: white;
  transition: .3s;
}

.portfolio-card:hover {
  box-shadow: 0 0 1vmin 1vmin gray;
  margin: 3.5vmin;
  transition: .3s;
}


.portfolio-image {
  border: 1px solid gray;
  border-radius: 5px;
  width: 40vmin;
  height: 40vmin;
  transition: .3s;
}

.portfolio-card:hover .portfolio-image {
  width: 41vmin;
  height: 41vmin;
  transition: .3s;
}

.gray {
  color: rgba(128, 128, 128, 0);
  transition: .3s;
}

.portfolio-card:hover .gray {
  color: rgba(128, 128, 128, 100);
  transition: 1s;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: rgb(31, 33, 33);
  background: linear-gradient(180deg, rgb(41, 43, 43) 0%, rgb(31, 33, 33)100%);
  box-shadow: 0 .01rem .1rem rgb(11, 13, 13);
}